<div class="row banner-mujer">
  <div class="imagen-mujer"><img src="../../imagenes/imagenes_hombre/banner-mujer.jpg" alt=""></div> 
  <div class="recuadro"></div>
</div>
<div class="container">
<a routerLink="../metalicaDama"><div class="row marco">
<img src="../../imagenes/MONTURAS-PNG/MMD1.3.PNG" alt="">
<div  id="metalicos"><h3>Monturas metalicas</h3></div> 
</div></a>

<a routerLink="../acetatoDama"><div class="row marco">
  <img src="../../imagenes/MONTURAS-PNG/ACD10.3.PNG" alt="">
  <div  id="acetato"><h3>Monturas en acetato</h3></div> 
</div></a>

<a routerLink="../promocionDama"><div class="row marco">
  <img src="../../imagenes/MONTURAS-PNG/MPD9.3.PNG" alt="">
  <div  id="economicos"><h3>Monturas linea economica</h3></div> 
</div></a>
</div>
