footer{
  text-align: center;
  color: white;
  opacity: 0.9;
  width: 100%;
  padding: 15px;
}
footer h5{
    text-transform: capitalize;
}
.parrafo{
  text-align: justify;
}
.cuerpo-principal{
  width: 90%;
}
