
  <h2>Conoce los servicios que tenemos para ti</h2>
  <div class="row">
    <div id="servicio1" class="col s12 m5 l5 servicios" style="background-image: linear-gradient(to right, #018832 , #13bf52)">
      <h4>VALORACION DE OPTOMETRÍA CON ALTO SENTIDO DE PROFESIONALISMO</h4> 
    </div>
    <div id="acompañamiento1" class="col s12 m5 l7 acompañamientos">
      <img src="../../../imagenes/optometria.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div id="acompañamiento2" class="col s12 m5 l7 acompañamientos">
      <img src="../../../imagenes/adaptacion.jpg" alt="">
    </div>
    <div id="servicio2" class="col s12 m5 l5 servicios" style="background-image: linear-gradient(to right, #006ba9 , #087fc3)">
      <h4>ADAPTACION DE GAFAS Y LENTES DE CONTACTO:</h4> 
      <H5>Manejamos todas las lineas, los mejores materiales con la mas avanzada
        tecnologia, filtros de proteccion de luz azul, lentes de contacto en todas las marcas y 
        para todas las necesidades
      </H5>
    </div>
  </div>
  <div class="row">
    <div id="servicio3" class="col s12 m5 l5 servicios" style="background-image: linear-gradient(to right, #99031e , #d10529)">
      <h4>MONTURAS OFTALMOLOGICAS Y DE SOL NACIONALES E IMPORTADAS
        DE TODAS LAS MARCAS Y GAMAS
      </h4> 
    </div>
    <div id="acompañamiento3" class="col s12 m5 l7 acompañamientos">
      <img src="../../../imagenes/monturas.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div id="acompañamiento4" class="col s12 m5 l7 acompañamientos">
      <img src="../../../imagenes/reparacion.jpg" alt="">
    </div>
    <div id="servicio4" class="col s12 m5 l5 servicios" style="background-image: linear-gradient(to right, #570cbc , #6418c9)">
      <h4>REPARACION DE MONTURAS</h4> 
    </div>
  </div>
  <br/><br/><br/>

