
.row{
  margin: 0;
}
#barra-superior{
  background: linear-gradient(to right,#00ac43, #00aa2bc5);
}
#cont-barra-superior{
  color:white;
  display: flex;
}

#cont-barra-superior a:hover{
  background-color: #989999;
  opacity: 0.8;
}
#cont-barra-superior a{
 width: 40px;
}
#cont-barra-superior p{
  margin-left: 40px;
 }
#cont-barra-superior img{
  height: 28px;
  margin-left: 8px;
  margin-top:12px ;
  border-radius: 5px;
}
#imagen-logo{
  width: 30%;
  height: 100%;
}
#imagen-logo a img{
  margin: 2% 0 2% 20px;
  width: 30%;
  border-radius: 10px;
}
#barra-principal{
  background: linear-gradient(to right, #f1f1f1,#fffdfd);
  border: 1px solid rgb(51, 50, 50);
}
#menu_principal{

  margin-right: 20px;
  height: 100%;
}
#lista{
  display: flex;
  height: 100%;
  justify-content: space-around;
}
#lista li a{
  display: block;
  padding: 15px;
  border:1px solid black;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  background: #00ac43;
  color:#ffffff
}
.submenu{
  display: none;
  position: absolute;
  z-index: 2;
}
#lista li a:hover{
  background-color: #0bda15f3;
}
@media(max-width:900px){
  #imagen-logo a img{
    margin: 2% 0 2% 20px;
    width: 50%;
    border-radius: 10px;
  }
  #boton-sidenav{
    position: relative;
    background:#43a047 ;
    color: white;
    padding:5px;
    border-radius: 5px;
 
    margin-bottom: 15px;
    top:30px;
    margin-right: 150px;
  }
  #boton-sidenav:hover{
    cursor: pointer;
  }
  .menu-small{
    cursor: pointer;
  }
  .submenu{
    position: relative;
    z-index: 2;
  }
}
@media(max-width:740px){
  #imagen-logo a img{
    margin: 5px 5px 5px 0;
    width: 100%;
    border-radius: 10px;
  }
  #boton-sidenav{
    position: relative;
    background:#43a047 ;
    color: white;
    padding:5px;
    border-radius: 5px;
    margin-bottom: 15px;
    top:30px;
    margin-right: 15px;
  }
  #boton-sidenav:hover{
    cursor: pointer;
  }
  .menu-small{
    cursor: pointer;
  }
  .submenu{
    position: relative;
    z-index: 2;
  }
}


/*


@media(max-width:740px){
  #barra-superior{
    background: linear-gradient(to right,#00ac43, #00aa2bc5);
  }
  #cont-barra-superior{
    color:white;
    display: flex;
    width: 75%;
    margin-left:25%;
    
  }
  
  #cont-barra-superior a:hover{
    background-color: #989999;
    opacity: 0.8;
  }
  
  #cont-barra-superior a{
    width: 40px;
    margin-left: 5px;
  }
  #cont-barra-superior img{
    height: 28px;
    margin-left: 8px;
    margin-top:12px ;
    border-radius: 5px;
  }
  
  #barra-principal{
    width: 100%;
    border: 1px solid rgb(51, 50, 50);
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #f1f1f1,#fffdfd);
  }
  #imagen-logo{
    width: 100%;
    height: 100%;
  }
  
  #imagen-logo a img{
    margin: 2% 0 2% 40%;
    width: 25%;
    border-radius: 10px;
  }
  #menu_principal{
      margin-right: 20px;
  }
  #lista{
    display: flex;
  }
  
  #lista li a{
    display: block;
    padding: 15px;
    border:1px solid black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background: #00ac43;
    color:#ffffff
  }

  

  
}
*/
