
  <div class="carousel carrusel">
    <a class="carousel-item" href="#one!"><img src="../../../imagenes/fachada-17.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../../../imagenes/fachada-27.jpg"></a>
  </div>



<div class="container">
  <div class="row contenedor">


    <a class="imagen" routerLink="../productos/metalicaDama">
      <div class="card">
        <div class="row">
          <img src="../../../imagenes/MPD/MPH/ACH/MMH/MMD/1.1.jpg" alt="Montura metalica Dama">
        </div>
        <div class="row">
          <h5>Montura metalica Dama</h5>
        </div>
      </div>
    </a>
    
    <a class="imagen" routerLink="../productos/metalicaHombre">
      <div class="card">
        <div class="row">
          <img src="../../../imagenes/MPD/MPH/ACH/MMH/MMH1.1.jpg" alt="Montura metalica Hombre">
        </div>
        <div class="row">
          <h5>Montura metalica Hombre</h5>
        </div>
      </div>
    </a>

    <a class="imagen" routerLink="../productos/acetatoDama">
      <div class="card">
        <div class="row">
          <img src="../../../imagenes/MPD/MPH/ACH/MMH/MMD/ACD/1.1.jpg" alt="Montura acetato Dama">
        </div>
        <div class="row">
          <h5>Montura acetato Dama</h5>
        </div>
      </div>
    </a>

    <a class="imagen" routerLink="../productos/acetatoHombre">
      <div class="card">
        <div class="row">
          <img src="../../../imagenes/MPD/MPH/ACH/ACH1.1.jpg" alt="Montura acetato Hombre">
        </div>
        <div class="row">
          <h5>Montura acetato Hombre</h5>
        </div>
      </div>
    </a>


  </div>



  <div class="row contenedor">


    <a class="imagen" routerLink="../productos/promocionDama">
      <div class="card">
        <div class="row">
          <img src="../../../imagenes/MPD/MPD8.3.jpg" alt="no se a podido cargar la imagen">
        </div>
        <div class="row">
          <h5>Montura promocion Dama</h5>
        </div>
      </div>
    </a>
    
    <a class="imagen" routerLink="../productos/promocionHombre">
      <div class="card">
        <div class="row">
          <img src="../../../imagenes/MPD/MPH/MPH1.1.jpg" alt="no se a podido cargar la imagen">
        </div>
        <div class="row">
          <h5>Montura promocion Hombre</h5>
        </div>
      </div>
    </a>

    <a class="imagen" routerLink="../productos/economicaDama">
      <div class="card">
        <div class="row">
          <img src="../../../imagenes/MPD/MPH/ACH/MMH/MMD/ACD/DE/1.1.jpg"alt="no se a podido cargar la imagen">
        </div>
        <div class="row">
          <h5>Montura economica Dama</h5>
        </div>
      </div>
    </a>

    <a class="imagen" routerLink="../productos/ninos">
      <div class="card">
        <div class="row">
          <img src="../../../imagenes/MPD/MPH/ACH/MMH/MMD/ACD/DE/MN/1.1.jpg" alt="no se a podido cargar la imagen">
        </div>
        <div class="row">
          <h5>Monturas para niños</h5>
        </div>
      </div>
    </a>


  </div>
</div>


