<app-modal></app-modal>
<div class="container">
  <div class="row">
    <div class="col s12 m6 l4" *ngFor="let imagenes of arreglo" (click)="abrir(this.src1.src, this.src2.src, this.src3.src)">
      <div class="card">
      <div class="imagen-principal">
        <img #src1 src="{{imagenes[0]}}.jpg" alt="No se ha podido cargar la imagen">
      </div>
      <div class="imagen-oculta">
        <img #src2 src="{{imagenes[1]}}.jpg" alt="No se ha podido cargar la imagen">
        <img #src3 src="{{imagenes[2]}}.jpg" alt="No se ha podido cargar la imagen">
      </div>
    </div>
  </div>
  </div>
</div>



